/* JUEGO CREADO POR ESTUDIANTES DE LA UNIVERSIDAD DEL MAGDALENA. */
body
{
	background-color: #7E7E7E;
}


.boton
{
	text-decoration: none;
	font-family: Impact;
	padding: 10px;	
	font-weight: 500;
	font-size: 30px;
	color: #688A08;
	border-radius: 6px;
	border: 4px solid #ECF6CE;
	background-color: white;
}.boton:hover{
	background-color: #d9fe56;
	border: 4px solid #d9fe56;
	text-decoration: none;
}